spring:
  datasource:
    url: jdbc:mysql://smarttask-mysql:3306/smarttask
    username: user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8080

app:
  jwt:
    secret: change-me-if-production
    validity-ms: 3600000
